.App {
  text-align: center;
  color: white;
}

.no-link {
  color: inherit;
  text-decoration: inherit;
}

.p-link {
  user-select: none;
}

.p-link:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  padding-inline: 30px;
}

.App-header nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  gap: 30px;
  margin-inline: 40px;
  margin-top: 6px;
}

.App-header nav p {
  font-size: 2vmin;
  width: max-content;
}

.App-header .current-date {
  width: 75%;
  text-align: end;
  display: flex;
  justify-content: end;
}

.App-header .current-date * {
  margin-inline: 10px;
}

.App-header .current-date .date-text {
  margin-block: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header .current-date .day-of-week {
  font-size: small;
  margin: 0;
}

ul {
  list-style-type: none;
}

.quini-container {
  background-color: rgb(42, 42, 87);
  width: 95%;
  border: solid blue 2px;
  border-radius: 10px;
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quini-container table {
  width: 90%;
  margin-bottom: 10px;
  table-layout: fixed;
}

.quini-container th {
  background-color: blue;
  
}

.quini-container th:first-of-type {
  border-radius: 10px 0 0 0;
}

.quini-container th:last-of-type {
  border-radius: 0 10px 0 0;
}

.quini-container td {
  border: solid blue 2px;
  font-size: 20px;
}

.quini-container td:first-of-type {
  border-radius: 0 0 0 10px;
}

.quini-container td:last-of-type {
  border-radius: 0 0 10px 0;
}

.quini-container .th-best {
  background-color: red;
  border-color: red;
}

.quini-container .best-family {
  font-weight: 700;
  color: aqua;
  border-color: red;
}

.Search-query {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-query input {
  width: 70px;
  font-size: 30px;
  text-align: center;
  margin-inline: 20px;
}

.Search-query .search-btn {
  font-size: 30px;
}

.Search-results {
  display: inline-grid;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
}

.Search-results b {
  font-size: 30px;
}

.res-container {
  background-color: rgb(42, 42, 87);
  border: solid blue 2px;
  width: max-content;
  border-radius: 10px;
  margin-block: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 20px;
  gap: 30px;
}

.res-container-cabeza {
  background-color: rgb(87, 42, 42);
  border: solid red 2px;
  width: max-content;
  border-radius: 10px;
  margin-block: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 20px;
  gap: 30px;
}

.res-container p {
  text-align: start;
}

.numbers-grid {
  display: inline-grid;
  width: 90%;
  grid-template-columns: repeat(20, 1fr);
  margin-top: 30px;
}

.numbers-grid .featured-number {
  border-radius: 5px;
  border: solid red 2px;
  margin-block: 20px;
  margin-inline: 5px;
  padding-block: 10px;
  background-color: #440000;
}

.numbers-grid .normal-number {
  border-radius: 5px;
  border: solid blue 2px;
  margin-block: 20px;
  margin-inline: 5px;
  padding-block: 10px;
  background-color: #000044;
  opacity: 0.5;
}