.App {
  text-align: center;
  color: white;
}

.no-link {
  color: inherit;
  text-decoration: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  padding-inline: 30px;
  user-select: none;
}

.App-header .home-btn:hover {
  cursor: pointer;
}

.App-header nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  gap: 30px;
  margin-inline: 40px;
  margin-top: 6px;
}

.App-header nav p {
  font-size: 2vmin;
}

.App-header nav p:hover {
  cursor: pointer;
}

.App-header .current-date {
  width: 75%;
  text-align: end;
  display: flex;
  justify-content: end;
}

.App-header .current-date * {
  margin-inline: 10px;
}

.App-header .current-date .date-nav-btn:hover {
  cursor: pointer;
}

.App-header .current-date .date-text {
  margin-block: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header .current-date .day-of-week {
  font-size: small;
  margin: 0;
}

ul {
  list-style-type: none;
}

.quini-container {
  background-color: rgb(42, 42, 87);
  width: 95%;
  border: solid blue 2px;
  border-radius: 10px;
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quini-container table {
  width: 90%;
  margin-bottom: 10px;
  table-layout: fixed;
}

.quini-container th {
  background-color: blue;
  
}

.quini-container th:first-of-type {
  border-radius: 10px 0 0 0;
}

.quini-container th:last-of-type {
  border-radius: 0 10px 0 0;
}

.quini-container td {
  border: solid blue 2px;
  font-size: 20px;
}

.quini-container td:first-of-type {
  border-radius: 0 0 0 10px;
}

.quini-container td:last-of-type {
  border-radius: 0 0 10px 0;
}